.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px blue solid;
  width: 700px;
  height: 500px;
  margin: 10vh auto;

  form {

    .input-wrapper {
      display: flex;
      flex-direction: column;

      input{
        margin: 5px auto;
        width: 150px;
      }
      
    }
  }
}